.container{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
  height: 2rem;
}

.container input{
  width: 100%;
  height: 2rem;

  border: none;
  border-bottom: 1px solid var(--purple);
  outline: none;

  background: var(--light-purple);

  margin-left: 1rem;

  color: var(--gray);
  font-size: 0.9rem;
  font-weight: 400;
}

.searchIcon{
  color: var(--gray);
}